<template>
  <tr>
    <td>
      <b-form-input v-model="ingredient.name"></b-form-input>
    </td>
    <td>
      <b-input-group class="mx-auto">
        <b-form-input type="number" step="any" v-model="ingredient.weight" />
        <template v-slot:append>
          <div class="input-group-text">g</div>
        </template>
      </b-input-group>
    </td>
    <td>
      <b-input-group class="mx-auto" append="%">
        <b-form-input type="number" step="any" v-model="ingredient.ratio" />
      </b-input-group>
    </td>
    <td class="text-center">
      <b-button
        variant="outline-danger"
        pill
        @click="$emit('removeIngredient', ingredient.id)"
        >X</b-button
      >
    </td>
  </tr>
</template>

<script>
import { BFormInput, BInputGroup, BButton } from 'bootstrap-vue'

export default {
  name: 'IngredientRow',
  props: {
    ingredient: {
      type: Object,
      required: true,
      default: () => ({
        id: '',
        name: '',
        weight: null,
        ratio: null,
      }),
    },
  },
  components: {
    BFormInput,
    BInputGroup,
    BButton,
  },
  data() {
    return {
      ingredients: [this.ingredient],
    }
  },
}
</script>

<style src="./IngredientRow.scss" scoped lang="scss"></style>
